better_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/better-sqlite3
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
runtime=electron
target=28.3.3
disturl=https://electronjs.org/headers
